@import "compass";
@import "theme_variables";

/* Block newsletter */
#columns #newsletter_block_full {
	.form-group {
		margin-bottom: 0;
		.form-control {
			max-width: 335px;
			display: inline-block;
			margin-right: 6px;
			@media (min-width: $screen-sm) and (max-width: $screen-md-max) { // min 768px max 1199px
				margin-bottom: 10px;
				margin-right: 0;
			}
		}
	}
	.success_inline, .warning_inline {
		text-align: left;
		padding: 1px 0 0 0;
		margin-bottom: -19px;
	}
	.success_inline	{
		color: #418B19;
	}
	.warning_inline {
		color: #f13340;
	}
}
/* Block newsletter footer */
#footer {
	#newsletter_block_full {
		width: 100%;
		overflow: hidden;
		background-color: white;
		padding: 20px 16px;
		margin-bottom: 0;

		@media #{$breakpoint-tablet-land} {
			padding: 30px 16px;
		}

		@media #{$breakpoint-laptop-small} {
			padding: 40px 16px;
		}

		@media #{$breakpoint-desktop-medium} {
			padding: 50px 16px;
		}

		h4 {
			font-family: $gothamLight;
			text-transform: uppercase;
			color: #555454;
			font-size: 28px;
			line-height: normal;
			text-align: center;
			border: none;
			background: none;
			margin: 0;
			&:after {
				display: none;
			}

			@media #{$breakpoint-tablet-port} {
				font-size: 32px;
			}
		}

		p {
			font-family: $gothamBook;
			font-size: 14px;
			line-height: 18px;
			color: black;
			text-align: center;
			margin: 5px auto 15px;
			// @media #{$breakpoint-tablet-port} {
			// 	font-size: 16px;
			// 	line-height: 26px;
			// }
		}

		.block_content {
			overflow: hidden;
		}
		.form-group {
			margin: 0 auto;
			margin-bottom: 0;
			max-width: 335px;
			overflow: hidden;

			.form-control {
				height: 45px;
				max-width: 335px;
				background: black;
				border-color: black;
				@include border-radius(10px);
				font-family: $gothamMedium;
				font-size: 12px;
				line-height: 14px;
				text-align: center;
				color: white;
				padding: 0 35px 0 12px;
				display: block;
				margin: 0 auto;
				float: left;
				&:focus {
					@include box-shadow(black 0px 0px 0px);
				}
			}
			.button-small {
				margin-left: -42px;
				border: none;
				background: none;
				text-align: center;
				color: #908f8f;
				padding: 8px 10px;
				float: left;
				margin-top: 0px;
				&:before {
					content: "\f138";
					font-family: $font-icon;
					font-size: 24px;
					line-height: 28px;
				}
				&:hover {
					color: $light-text-color !important;
				}
				span{
					display: none;
				}
			}
		}
		.warning_inline {
			display: block;
			color: #f13340;
			font-size: 13px;
			line-height :26px;
			clear: both;
			@media (min-width: $screen-lg) { // min 1200px
				display: inline-block;
				position: relative;
				top: -35px;
				margin-bottom: -35px;
				left: 15px;
				clear: none;
			}
		}
		// .newsletter-input {
  		// 	max-width: 300px !important;
  		// }
	}
}