@import "compass";
@import "theme_variables";
.shop-phone {
	float: left;
	padding: 5px 0 10px;
	line-height:18px;
	@media (max-width: $screen-xs-max) {
		display: none;
	}
	i {
		font-size: 21px;
		line-height: 21px;
		color: $light-text-color;
		padding-right: 7px;
	}
	strong {
		color: $light-text-color;
	}
	&.is_logged {
		@media (max-width: $screen-sm-max) {
			display: none;
		}
	}
}
#contact-link {
	width: 40px;
	height: 40px;
	//
	@include display-flex;
	@include flex-direction(row);
	@include flex-wrap(wrap);
	@include justify-content(center);
	@include align-items(center);

	@media (max-width: $screen-xs-max) {
		width: 35px;
		height: 35px;
	}

	@media #{$breakpoint-desktop-medium} {
		width: 50px;
		height: 50px;
	}
	
	a {
		display: inline-block;
		color: white;
		cursor: pointer;
		font-size: 24px;
		line-height: 24px;

		@media (max-width: $screen-xs-max) {
			font-size: 25px;
			line-height: 25px;
		}
		@media #{$breakpoint-desktop-medium} {
			font-size: 30px;
			line-height: 30px;
		}
	}
	
	&.is_logged {
		@media (max-width: $screen-xs-max) {
			display: none;
		}
	}
}
#contact_block {
	@media (max-width: $screen-xs-max) { // max 767px
		margin-bottom: 20px;
	}
	.label {
		display: none
	}
	.block_content {
		color: #888888;
	}
	p {
		margin-bottom: 4px;
	}
	p.tel {
		font: 400 17px/21px $font-family;
		color: $base-text-color;
		margin-bottom: 6px;
		i {
			font-size: 25px;
			vertical-align: -2px;
			padding-right: 10px;
		}
	}
}
