/* Block newsletter */
#columns #newsletter_block_full .form-group {
  margin-bottom: 0; }
  #columns #newsletter_block_full .form-group .form-control {
    max-width: 335px;
    display: inline-block;
    margin-right: 6px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      #columns #newsletter_block_full .form-group .form-control {
        margin-bottom: 10px;
        margin-right: 0; } }
#columns #newsletter_block_full .success_inline, #columns #newsletter_block_full .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px; }
#columns #newsletter_block_full .success_inline {
  color: #418B19; }
#columns #newsletter_block_full .warning_inline {
  color: #f13340; }

/* Block newsletter footer */
#footer #newsletter_block_full {
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 20px 16px;
  margin-bottom: 0; }
  #footer #newsletter_block_full h4 {
    font-family: "Gotham-Light";
    text-transform: uppercase;
    color: #555454;
    font-size: 28px;
    line-height: normal;
    text-align: center;
    border: none;
    background: none;
    margin: 0; }
    #footer #newsletter_block_full h4:after {
      display: none; }
    @media (min-width: 47em) {
      #footer #newsletter_block_full h4 {
        font-size: 32px; } }
  #footer #newsletter_block_full p {
    font-family: "Gotham-Book";
    font-size: 14px;
    line-height: 18px;
    color: black;
    text-align: center;
    margin: 5px auto 15px; }
  #footer #newsletter_block_full .block_content {
    overflow: hidden; }
  #footer #newsletter_block_full .form-group {
    margin: 0 auto;
    margin-bottom: 0;
    max-width: 335px;
    overflow: hidden; }
    #footer #newsletter_block_full .form-group .form-control {
      height: 45px;
      max-width: 335px;
      background: black;
      border-color: black;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      font-family: "Gotham-Medium";
      font-size: 12px;
      line-height: 43px;
      text-align: center;
      color: white;
      padding: 0 35px 0 12px;
      display: block;
      margin: 0 auto;
      float: left; }
      #footer #newsletter_block_full .form-group .form-control:focus {
        -moz-box-shadow: black 0px 0px 0px;
        -webkit-box-shadow: black 0px 0px 0px;
        box-shadow: black 0px 0px 0px; }
    #footer #newsletter_block_full .form-group .button-small {
      margin-left: -42px;
      border: none;
      background: none;
      text-align: center;
      color: #908f8f;
      padding: 8px 10px;
      float: left;
      margin-top: 0px; }
      #footer #newsletter_block_full .form-group .button-small:before {
        content: "\f138";
        font-family: "FontAwesome";
        font-size: 24px;
        line-height: 28px; }
      #footer #newsletter_block_full .form-group .button-small:hover {
        color: #fff !important; }
      #footer #newsletter_block_full .form-group .button-small span {
        display: none; }
  #footer #newsletter_block_full .warning_inline {
    display: block;
    color: #f13340;
    font-size: 13px;
    line-height: 26px;
    clear: both; }
    @media (min-width: 1200px) {
      #footer #newsletter_block_full .warning_inline {
        display: inline-block;
        position: relative;
        top: -35px;
        margin-bottom: -35px;
        left: 15px;
        clear: none; } }

/*# sourceMappingURL=blocknewsletter.css.map */
