$default-text-shadow-color: rgba(black, 0.8);
$default-text-shadow-blur: 4px;
$default-text-shadow-v-offset: 2px;

@import "compass";
@import "theme_variables";
/******************************************************************************
						Home Page Slider
*******************************************************************************/
#slider_row {
	margin: 0;
	overflow: hidden;

	#top_column {
		padding: 0;
	}
}

#homepage-slider {
	padding-left: 0;
	padding-right: 0;
	// margin-bottom: 14px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	float: left;
	@media (max-width: $screen-xs-max) { // max 767px
		width: 100%;
		max-width: 100%;
	}
	#homeslider {
		margin: 0 auto;
		padding: 0;
	}
	.homeslider-container {
		position: relative;
	}
	.homeslider-image {
		position: absolute;
		left: 0;
		top: 0;
	}
	.homeslider-description {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 50px 50px;
		cursor: pointer;

		h2 {
			font-family: $gothamMedium;
			font-size: 45px;
			line-height: 47px;
			color: white;
			@include single-text-shadow;
			margin: 0;
			padding: 0;
		}
		p {
			width: 50%;
			font-size: 18px;
			line-height: 20px;
			padding: 15px 0;
			color: white;
		}
		.btn-slider {
			font-family: $gothamMedium;
			font-size: 18px;
			line-height: 40px;
			color: white;
			padding: 0 20px;
			background-color: black;
			border-color: black;
		}

		@media (max-width: $screen-lg){
			padding: 20px;
			font-size: 0.8em;
		}
		@media (max-width: $screen-sm){
			padding: 30px;
			font-size: 0.7em;
			p {
				font-size: 1.5em;
			}
		}
		@media (max-width: $screen-xs){
			padding: 30px;
			font-size: 0.5em;
			p {
				font-size: 1.7em;
			}
		}
		@media #{$breakpoint-desktop-medium} {
			h2 {
				font-size: 60px;
				line-height: 62px;
			}
			.btn-slider {
				font-size: 26px;
				line-height: 60px;
			}
		}
	}
/*****************************************************************************
// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-phone:               $screen-xs !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-tablet:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-desktop:             $screen-md !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-desktop:          $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;
********************************************************************************/
	.bx-wrapper {
		a {
			display: block;
		}
		img {
			height: auto;
		}
		.bx-viewport {
			width: 100%;
			direction: ltr!important;
		}
		.bx-pager.bx-default-pager a {
			background: #666;
		}
		.bx-controls-direction a {
			top: auto;
			margin-top: 0px;
			font-size: 1em;
			bottom: 10px;
			outline: 0;
			width: 52px;
			height: 52px;
			text-indent: -9999px;
			z-index: 9999;
			border: 2px solid $light-border-color;
			line-height: 18px;
			&:before {
				height: 48px;
				width: 48px;
				display: block;
				background: $light-background;
				content: ".";
				opacity: 0.14;
				text-indent: -9999px;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
			}
			&:after {
				display: block;
				width: 48px;
				height: 48px;
				color: $light-text-color;
				text-indent: 0;
				text-align: center;
				font-size: 21px;
				font-family: $font-icon;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				padding: 16px 0 0 0;
			}
			&:hover {
				&:before {
					background: $dark-background;
					opacity: 0.83;
				}
			}
		}
		.bx-prev {
			right: 60px;
			left: auto;
			&:after {
				content: "\f053";
			}
		}
		.bx-next {
			&:after {
				content: "\f054";
			}
		}
	}
}
.ie8 {
	#homepage-slider{
		.bx-wrapper .bx-controls-direction a {
			&:before {
				background: $dark-background;
			}
		}
	}
}

#homepage-slider-banner {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #e5e5e5;
	padding: 10px;

	ul {
		width: 100%;
		height: auto;
		overflow: hidden;
		margin: 0 auto;
		// flex
		@include display-flex;
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include align-items(stretch);
		@include justify-content(center);

		li {
			@include flex-basis(33%);
			overflow: hidden;
			text-align: left;
			//flex
			@include display-flex;
			@include flex-direction(row);
			@include flex-wrap(nowrap);
			@include justify-content(center);
			@include align-items(center);
			// responsive
			@media (min-width: $screen-tablet) {}

			&:nth-child(2) {
				border-right: 1px solid #aaaaaa;
				border-left: 1px solid #aaaaaa;
			}

			i {
				margin: auto;
				margin-right: 15px;
				@media (min-width: $screen-lg-desktop) {
					margin-right: 30px;
				}
			}

			span {
				font-family: $gothamMedium;
				font-size: 14px;
				line-height: 16px;
				color: #6c6c6c;
				display: inline-block;
				margin: auto;
				margin-left: 0;
				// responsive
				@media #{$breakpoint-desktop-medium} {
					font-size: 16px;
					line-height: 18px;
				}
			}
		}
	}
}
