/*** ESSENTIAL STYLES ***/
.sf-menu,
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.sf-menu {
  padding: 0; }
  @media (max-width: 767px) {
    .sf-menu {
      display: none;
      width: 100%;
      padding-bottom: 10px;
      background-color: black;
      position: absolute;
      top: 64px;
      right: 0;
      left: 0;
      z-index: 100; } }

.sf-menu ul {
  position: absolute;
  top: -999em;
  background: #fff; }
  @media (max-width: 767px) {
    .sf-menu ul {
      position: relative; } }

.sf-menu ul li {
  width: 100%;
  position: relative; }

.sf-menu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */ }

.sf-menu > li {
  float: left; }
  @media (max-width: 767px) {
    .sf-menu > li {
      float: none;
      position: relative;
      border-right: none; }
      .sf-menu > li span {
        position: absolute;
        top: 8px;
        right: 16px;
        z-index: 2;
        width: 20px;
        height: 20px;
        color: white; }
        .sf-menu > li span:after {
          font-family: "FontAwesome";
          content: "\f067";
          font-size: 26px; }
        .sf-menu > li span.active:after {
          content: "\f068"; } }
  .sf-menu > li > a {
    font-family: "Gotham-Bold";
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
    display: block;
    padding: 0px 15px; }
    @media (max-width: 767px) {
      .sf-menu > li > a {
        font-size: 14px;
        line-height: 34px; } }
    @media (min-width: 90em) {
      .sf-menu > li > a {
        padding: 0px 20px; } }
    @media (min-width: 92em) {
      .sf-menu > li > a {
        font-size: 16px;
        line-height: 26px; } }
  .sf-menu > li.sfHover > a,
  .sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a {
    color: #fff; }

.sf-menu li li li a {
  width: 100%;
  display: block;
  border-bottom: 1px solid #b5b5b5;
  text-transform: uppercase;
  font-family: "Gotham-Bold";
  font-size: 12px;
  line-height: 42px;
  color: black; }
  @media (max-width: 767px) {
    .sf-menu li li li a {
      line-height: 34px; } }
  @media (min-width: 92em) {
    .sf-menu li li li a {
      font-size: 14px; } }
  .sf-menu li li li a:hover {
    color: #333; }

.sf-menu li ul {
  display: none;
  top: 70px;
  /* match top ul list item height */
  z-index: 99;
  padding: 12px 0px 18px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px; }
  @media (max-width: 767px) {
    .sf-menu li ul {
      top: 0;
      left: 0; } }

.sf-menu li li ul {
  position: static;
  display: block !important;
  opacity: 1 !important;
  background: none;
  padding: 0;
  -moz-box-shadow: transparent 0px 0px 0px;
  -webkit-box-shadow: transparent 0px 0px 0px;
  box-shadow: transparent 0px 0px 0px; }

.sf-menu li li li ul {
  padding: 0 0 0 20px; }

.sf-menu li li li ul {
  width: 220px; }

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em; }

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0; }

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em; }

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0; }

.sf-menu > li > ul {
  padding: 0 10px;
  width: 50%;
  max-width: 330px;
  text-align: center; }
  @media (max-width: 767px) {
    .sf-menu > li > ul {
      width: 100%;
      max-width: 100%;
      padding: 0 0 10px; } }
  .sf-menu > li > ul > li > a {
    width: 100%;
    display: block;
    border-bottom: 1px solid #b5b5b5;
    text-transform: uppercase;
    font-family: "Gotham-Bold";
    font-size: 14px;
    line-height: 42px;
    color: #ff9b19; }
    @media (max-width: 767px) {
      .sf-menu > li > ul > li > a {
        line-height: 34px; } }
    @media (min-width: 92em) {
      .sf-menu > li > ul > li > a {
        font-size: 16px; } }
    .sf-menu > li > ul > li > a:hover {
      color: #515151; }

.sf-menu > li > ul > li {
  float: left;
  width: 50%;
  padding: 0 10px; }
  @media (max-width: 767px) {
    .sf-menu > li > ul > li {
      width: 50%; } }
  @media (min-width: 768px) {
    .sf-menu > li > ul > li.first-in-line-lg {
      clear: left; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .sf-menu > li > ul > li.first-in-line-xs {
      clear: left; } }

.sf-menu > li > ul > li.category-thumbnail {
  width: 100% !important;
  float: none;
  clear: both;
  overflow: hidden;
  padding-right: 0; }
  .sf-menu > li > ul > li.category-thumbnail > div {
    float: left;
    padding-left: 10px;
    width: 33.333%; }
    @media (max-width: 479px) {
      .sf-menu > li > ul > li.category-thumbnail > div {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
        text-align: center; } }
    .sf-menu > li > ul > li.category-thumbnail > div:first-child {
      padding-left: 0; }
    .sf-menu > li > ul > li.category-thumbnail > div img {
      max-width: 100%;
      display: block; }

.cat-title {
  display: none; }
  @media (max-width: 767px) {
    .cat-title {
      display: block;
      position: relative; } }

.sf-menu li.sf-search {
  border: none; }
  .sf-menu li.sf-search input {
    display: inline;
    padding: 0 13px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    margin: 13px 10px 0 0;
    font-size: 13px;
    color: #9c9b9b;
    border: 1px solid #d6d4d4; }

#block_top_menu .category-thumbnail {
  clear: both;
  width: 100%;
  float: none; }
  #block_top_menu .category-thumbnail div {
    float: left;
    width: 33.33333%; }
    #block_top_menu .category-thumbnail div img {
      max-width: 100%; }
#block_top_menu li.category-thumbnail {
  padding-right: 0; }

.btn_lines {
  background: transparent;
  border: none;
  height: 26px;
  padding: 0;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  /* */ }
  .btn_lines:hover {
    opacity: 1; }
  .btn_lines:active {
    transition: 0; }
  .btn_lines.active {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }
  .btn_lines.x.active .lines {
    background: transparent; }
    .btn_lines.x.active .lines:before, .btn_lines.x.active .lines:after {
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: 0;
      width: 42px; }
    .btn_lines.x.active .lines:before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg); }
    .btn_lines.x.active .lines:after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg); }

.lines {
  display: inline-block;
  width: 36px;
  height: 5px;
  vertical-align: middle;
  background: #ff9b19;
  transition: 0.3s;
  position: relative; }
  @media (min-width: 23.375em) {
    .lines {
      width: 42px; } }
  .lines:before, .lines:after {
    display: inline-block;
    width: 36px;
    height: 5px;
    vertical-align: middle;
    background: #ff9b19;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 3px center;
    transform-origin: 3px center; }
    @media (min-width: 23.375em) {
      .lines:before, .lines:after {
        width: 42px; } }
  .lines:before {
    top: 10.5px; }
  .lines:after {
    top: -10.5px; }

/*# sourceMappingURL=superfish-modified.css.map */
