/*************************************************
* http://meyerweb.com/eric/tools/css/reset/
*   v2.0 20110126 - License: none (public domain)
*************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/***********************************************
* HTML5 display-role reset for older browsers
***********************************************/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none; }

/* =============================================================================
 --  @project : Growlers Bar
 --  @theme   : growler
 --  @author  : Mariano Molina
 --  @date    : 2016-11-27
 ============================================================================= */
.ic {
  display: inline-block; }
  .ic_growler_logo {
    background: url(../css/1f5fb12e85eb600e413ceee4692d3842.svg) center center no-repeat;
    width: 160px;
    height: 18px; }
  .ic_cart {
    background: url(../css/72c52864d9208b08ecfbe9702d1c963d.svg) center center no-repeat;
    width: 26px;
    height: 24px; }
  .ic_search {
    background: url(../css/3f039456583c9ae2a39bd0cb908f8a35.svg) center center no-repeat;
    width: 26px;
    height: 26px; }
  @media (min-width: 23.375em) {
    .ic_growler_logo {
      width: 190px;
      height: 22px; } }
  @media (min-width: 25em) {
    .ic_growler_logo {
      width: 230px;
      height: 27px; } }

@font-face {
  font-family: "Gotham-Light";
  src: url(../css/239fef917eb4d52c986962fade448ee4.woff2) format("woff2"), url(../css/1adc18462a7b6e47a2567679361d3204.woff) format("woff"), url(../css/a391c8fb52e20c44102cc2448633d32b.ttf) format("truetype"), url(../css/a65ebe58f77eba4b78731bc00625fad7.svg#Gotham-Light) format("svg"); }

@font-face {
  font-family: "Gotham-Book";
  src: url(../css/7a2253663bf2920fb73833e38dc12bb3.woff2) format("woff2"), url(../css/0498d33fc387efd3ab97488a2ba5349d.woff) format("woff"), url(../css/b2db0c189366bd9c092a436b71456b30.ttf) format("truetype"), url(../css/8ab1b9692f54e23d2a592b08ce0811c6.svg#Gotham-Book) format("svg"); }

@font-face {
  font-family: "Gotham-Medium";
  src: url(../css/8778fe656abe5ecaf8f7eb08699121c2.woff2) format("woff2"), url(../css/c843cd4e08c2e1eae14908f7ff976a9a.woff) format("woff"), url(../css/b409dd5887e83b2d62d56e25428735d2.ttf) format("truetype"), url(../css/c5eefe7ab492a85c689bea8b69accf62.svg#Gotham-Medium) format("svg"); }

@font-face {
  font-family: "Gotham-Bold";
  src: url(../css/9bb8ff60157a432013e0c63c3887b8a4.woff2) format("woff2"), url(../css/3d18287d8acbd50be9588d33a9cef5b8.woff) format("woff"), url(../css/ffa02bdd14cafd1a6ca1eebb24623db7.ttf) format("truetype"), url(../css/c70e60fe10db0b1c93d62d3c69876161.svg#Gotham-Bold) format("svg"); }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 2ms linear;
  -o-transition: all 2ms linear;
  -moz-transition: all 2ms linear;
  -webkit-transition: all 2ms linear; }

body {
  background-color: #FFFFFF;
  font-family: 'Helvetica Neue', sans-serif;
  color: #000000; }

#wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 56px; }
  @media (min-width: 25em) {
    #wrapper {
      margin-top: 66px; } }

#header {
  width: 100%;
  height: 56px;
  background-color: #000000;
  padding: 8px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between; }
  #header > .logo {
    display: inline-block;
    margin: auto;
    margin-left: 0px;
    margin-right: 10px; }
  @media (min-width: 25em) {
    #header {
      width: 100%;
      height: 66px;
      padding: 16px 12px; } }

.header-nav {
  width: 100%;
  height: auto;
  margin: auto;
  margin-right: 0px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between; }
  .header-nav > .btn_lines {
    margin: auto;
    margin-right: 0px; }

.user-info {
  margin: auto; }
  .user-info .login {
    width: 26px;
    height: 26px;
    background: url(../css/3577bd2cc90972c9faf1f9e48511ef1d.svg) center center no-repeat;
    display: block;
    text-indent: -9999px;
    text-decoration: none; }

.blockcart {
  margin: auto; }
  .blockcart .header > a {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none; }
    .blockcart .header > a .ic_cart {
      text-indent: -9999px; }
    .blockcart .header > a .badge {
      width: 16px;
      height: 16px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      background-color: #ff9b19;
      display: block;
      font-family: "Gotham-Medium";
      font-size: 11px;
      font-size: 0.6875rem;
      line-height: 16px;
      line-height: 1rem;
      text-align: center;
      color: #FFFFFF;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2; }

#contact-link {
  margin: auto; }
  #contact-link > a {
    width: 26px;
    height: 27px;
    background: url(../css/4197f152840dbcfadad76b4ce14cd618.svg) center center no-repeat;
    display: block;
    text-indent: -9999px;
    text-decoration: none; }

.header-top {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: none;
  position: fixed;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  opacity: 0;
  filter: alpha(opacity=0); }
  .header-top.visible {
    display: block;
    opacity: 1;
    filter: alpha(opacity=100); }

.menu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 16px;
  font-family: "Gotham-Medium";
  text-align: center; }
  .menu .category a {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 30px;
    line-height: 1.875rem;
    color: #FFFFFF;
    text-decoration: none; }

.btn {
  width: 100%;
  height: auto;
  border: 1px solid transparent;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  display: block;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 48px;
  line-height: 3rem;
  text-decoration: none;
  text-align: center; }
  .btn_add_to_cart {
    width: 250px;
    height: 50px;
    border-color: #000000;
    background-color: #000000;
    margin: 0 auto;
    color: #FFFFFF; }
  .btn_search {
    width: 45px;
    height: 40px;
    background-color: #FFFFFF; }

.btn_lines {
  background: transparent;
  border: none;
  height: 26px;
  padding: 0;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.35714rem;
  /* */ }
  .btn_lines:hover {
    opacity: 1; }
  .btn_lines:active {
    transition: 0; }
  .btn_lines.close {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }
  .btn_lines.x.close .lines {
    background: transparent; }
    .btn_lines.x.close .lines:before, .btn_lines.x.close .lines:after {
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: 0;
      width: 2.5rem; }
    .btn_lines.x.close .lines:before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg); }
    .btn_lines.x.close .lines:after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg); }

.lines {
  display: inline-block;
  width: 2.5rem;
  height: 5px;
  vertical-align: middle;
  background: #ff9b19;
  transition: 0.3s;
  position: relative; }
  @media (min-width: 25em) {
    .lines {
      width: 2.5rem; } }
  .lines:before, .lines:after {
    display: inline-block;
    width: 2.5rem;
    height: 5px;
    vertical-align: middle;
    background: #ff9b19;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.17857rem center;
    transform-origin: 0.17857rem center; }
    @media (min-width: 25em) {
      .lines:before, .lines:after {
        width: 2.5rem; } }
  .lines:before {
    top: 0.625rem; }
  .lines:after {
    top: -0.625rem; }

.search-widget {
  width: 100%;
  height: auto;
  padding: 16px; }
  .search-widget form {
    width: 100%;
    height: auto;
    border: 1px solid #6c6c6c;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between; }
  .search-widget input {
    width: 100%;
    height: 40px;
    border: none;
    border-right: 1px solid #6c6c6c;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    padding: 0 8px;
    font-family: "Gotham-Book";
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 40px;
    line-height: 2.5rem;
    color: #6c6c6c; }

.ui-autocomplete
.ui-front.ui-menu
.ui-widget
.ui-widget-content
.ui-corner-all {
  border: 1px solid #6c6c6c;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }
  .ui-autocomplete
.ui-front.ui-menu
.ui-widget
.ui-widget-content
.ui-corner-all .ui-menu .ui-menu-item {
    font-family: "Gotham-Book";
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem; }

.products {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 16px; }

.products-section-title {
  font-family: "Gotham-Light";
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 36px;
  line-height: 2.25rem;
  color: #6c6c6c;
  text-align: center;
  text-transform: uppercase; }

.product-miniature {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 16px; }

.product-thumbnail {
  width: 100%;
  height: auto;
  display: block; }
  .product-thumbnail img {
    display: block;
    margin: 0 auto; }

.product_name {
  font-family: "Gotham-Bold";
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-align: center; }
  .product_name a {
    text-decoration: none;
    color: #000000; }

.product-description-short {
  width: 100%;
  height: auto;
  font-family: "Gotham-Medium";
  text-align: center; }
  .product-description-short p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem; }

.product-price-and-shipping {
  width: 100%;
  height: auto;
  font-family: "Gotham-Bold";
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  text-align: center; }

.product-list-actions {
  width: 100%;
  height: auto;
  padding: 16px 0; }
