// =============================================================================
// - Generycs elements
// =============================================================================
*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
  @include transition(2ms);
}

body {
  background-color: $white;
  font-family: 'Helvetica Neue', sans-serif;
  color: $black;
}

#wrapper {
  @include size(100%, auto);
  overflow: hidden;
  margin-top: 56px;

  @media #{$breakpoint-smartphone-big} {
    margin-top: 66px;
  }
}