/******************************************************************************
						Home Page Slider
*******************************************************************************/
#slider_row {
  margin: 0;
  overflow: hidden; }
  #slider_row #top_column {
    padding: 0; }

#homepage-slider {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
  /*****************************************************************************
  // Extra small screen / phone
  $screen-xs:                  480px !default;
  $screen-phone:               $screen-xs !default;
  
  // Small screen / tablet
  $screen-sm:                  768px !default;
  $screen-tablet:              $screen-sm !default;
  
  // Medium screen / desktop
  $screen-md:                  992px !default;
  $screen-desktop:             $screen-md !default;
  
  // Large screen / wide desktop
  $screen-lg:                  1200px !default;
  $screen-lg-desktop:          $screen-lg !default;
  
  // So media queries don't overlap when required, provide a maximum
  $screen-xs-max:              ($screen-sm - 1) !default;
  $screen-sm-max:              ($screen-md - 1) !default;
  $screen-md-max:              ($screen-lg - 1) !default;
  ********************************************************************************/ }
  @media (max-width: 767px) {
    #homepage-slider {
      width: 100%;
      max-width: 100%; } }
  #homepage-slider #homeslider {
    margin: 0 auto;
    padding: 0; }
  #homepage-slider .homeslider-container {
    position: relative; }
  #homepage-slider .homeslider-image {
    position: absolute;
    left: 0;
    top: 0; }
  #homepage-slider .homeslider-description {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px 50px;
    cursor: pointer; }
    #homepage-slider .homeslider-description h2 {
      font-family: "Gotham-Medium";
      font-size: 45px;
      line-height: 47px;
      color: white;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
      margin: 0;
      padding: 0; }
    #homepage-slider .homeslider-description p {
      width: 50%;
      font-size: 18px;
      line-height: 20px;
      padding: 15px 0;
      color: white; }
    #homepage-slider .homeslider-description .btn-slider {
      font-family: "Gotham-Medium";
      font-size: 18px;
      line-height: 40px;
      color: white;
      padding: 0 20px;
      background-color: black;
      border-color: black; }
    @media (max-width: 1200px) {
      #homepage-slider .homeslider-description {
        padding: 20px;
        font-size: 0.8em; } }
    @media (max-width: 768px) {
      #homepage-slider .homeslider-description {
        padding: 30px;
        font-size: 0.7em; }
        #homepage-slider .homeslider-description p {
          font-size: 1.5em; } }
    @media (max-width: 480px) {
      #homepage-slider .homeslider-description {
        padding: 30px;
        font-size: 0.5em; }
        #homepage-slider .homeslider-description p {
          font-size: 1.7em; } }
    @media (min-width: 92em) {
      #homepage-slider .homeslider-description h2 {
        font-size: 60px;
        line-height: 62px; }
      #homepage-slider .homeslider-description .btn-slider {
        font-size: 26px;
        line-height: 60px; } }
  #homepage-slider .bx-wrapper a {
    display: block; }
  #homepage-slider .bx-wrapper img {
    height: auto; }
  #homepage-slider .bx-wrapper .bx-viewport {
    width: 100%;
    direction: ltr !important; }
  #homepage-slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #666; }
  #homepage-slider .bx-wrapper .bx-controls-direction a {
    top: auto;
    margin-top: 0px;
    font-size: 1em;
    bottom: 10px;
    outline: 0;
    width: 52px;
    height: 52px;
    text-indent: -9999px;
    z-index: 9999;
    border: 2px solid #fff;
    line-height: 18px; }
    #homepage-slider .bx-wrapper .bx-controls-direction a:before {
      height: 48px;
      width: 48px;
      display: block;
      background: #fff;
      content: ".";
      opacity: 0.14;
      text-indent: -9999px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1; }
    #homepage-slider .bx-wrapper .bx-controls-direction a:after {
      display: block;
      width: 48px;
      height: 48px;
      color: #fff;
      text-indent: 0;
      text-align: center;
      font-size: 21px;
      font-family: "FontAwesome";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      padding: 16px 0 0 0; }
    #homepage-slider .bx-wrapper .bx-controls-direction a:hover:before {
      background: #333;
      opacity: 0.83; }
  #homepage-slider .bx-wrapper .bx-prev {
    right: 60px;
    left: auto; }
    #homepage-slider .bx-wrapper .bx-prev:after {
      content: "\f053"; }
  #homepage-slider .bx-wrapper .bx-next:after {
    content: "\f054"; }

.ie8 #homepage-slider .bx-wrapper .bx-controls-direction a:before {
  background: #333; }

#homepage-slider-banner {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #e5e5e5;
  padding: 10px; }
  @media (min-width: 92em) {
    #homepage-slider-banner {
      padding: 21px 10px; } }
  #homepage-slider-banner ul {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: center;
    justify-content: center; }
    #homepage-slider-banner ul li {
      -webkit-flex-basis: 33%;
      flex-basis: 33%;
      overflow: hidden;
      text-align: left;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center; }
      #homepage-slider-banner ul li:nth-child(2) {
        border-right: 1px solid #aaaaaa;
        border-left: 1px solid #aaaaaa; }
      #homepage-slider-banner ul li i {
        margin: auto;
        margin-right: 15px; }
        @media (min-width: 1200px) {
          #homepage-slider-banner ul li i {
            margin-right: 30px; } }
      #homepage-slider-banner ul li span {
        font-family: "Gotham-Medium";
        font-size: 14px;
        line-height: 16px;
        color: #6c6c6c;
        display: inline-block;
        margin: auto;
        margin-left: 0; }
        @media (min-width: 92em) {
          #homepage-slider-banner ul li span {
            font-size: 16px;
            line-height: 18px; } }

/*# sourceMappingURL=homeslider.css.map */
