@import "compass";
@import "theme_variables";

.header_user_info {
	width: 50px;
	height: 50px;
	//
	@include display-flex;
	@include flex-direction(row);
	@include flex-wrap(wrap);
	@include justify-content(center);
	@include align-items(center);

	@media (max-width: $screen-xs-max) {
		width: 35px;
		height: 35px;
	}

	a {
		display: inline-block;
		cursor: pointer;
		font-size: 30px;
		line-height: 30px;
		color: white;

		@media (max-width: $screen-xs-max) {
			font-size: 25px;
			line-height: 25px;
		}
	}
}